{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Đăng ký học phần{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% block add_css %}{% endblock %}
    
</head>
<body>
    {% block sidebar %}
    <div class="header-bar">
        <h1>TRƯỜNG ĐẠI HỌC ABC</h1>
        <div class="avatar2">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="dropdown-content" id="dropdownMenu">
            <a href="#"><i class="fas fa-user"></i> Thông tin cá nhân</a>
            <a href="{% url 'change_password' %}"><i class="fas fa-key"></i> Đổi mật khẩu</a>
            <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
            <a href="{% url 'logout' %}" class="logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{% static 'LOGO.png' %}" alt="University Logo" class="university-logo">
        </div>
        <div class="profile-card">
            <div class="avatar">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="info">
                <strong>Tên: {{ ten }}</strong><br>
                <span>MSV/Mã: {{ id }}</span><br>
                <p>Vai trò: {{ tk.vaitro }}</p>
            </div>
        </div>                   
        <nav class="sidebar-nav">
            <a href="{% url 'ghi_danh' %}"><i class="fas fa-user-plus"></i> Đăng ký ghi danh</a>
            <a href="{% url 'register' %}"><i class="fas fa-book-open"></i> Đăng ký học phần</a>
            {% if is_admin %}
            <a href="{% url 'quan_ly_hoc_phan' %}"><i class="fas fa-tasks"></i> Quản lý học phần</a>
            {% endif %}
            <a href="{% url 'history' %}"><i class="fas fa-history"></i> Lịch sử đăng ký</a>
            {% if is_admin %}
            <a href="{% url 'timing' %}"><i class="fas fa-clock"></i> Hẹn giờ đăng ký</a>
            <a href="{% url 'author' %}"><i class="fas fa-user-shield"></i> Phân quyền</a> 
            {% endif %}
        </nav>
        <a href="{% url 'logout' %}" class="logout-button">Đăng xuất</a>
    </div>
    {% block content %}{% endblock %}
    {% endblock %}
    {% block add_js %}{% endblock %}
    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
